{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Gallery</title> {% endblock title %}

{% block content %}
    <!-- Hero Section  -->
    <section class="hero_2">
        <div class="container">
            <div class="hero-content">
                <p class="custom-fs-20 custom-fw-600 mb-3">Our Gallery</p>
                <h1 class="custom-fs-39 custom-fw-700">Take a look at our captured moments</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item">Gallery</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <!-- Main Section  -->
    <section class="gallery">
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
        <div class="container">
            <div class="gallery-grid mb-5">
{% for image in image %}
                <div class="gallery-wrap m-2">
                    <img src="{{image.image.url}}" alt="Hello" class="img-fluid myImg" style="height:350px; width: 400px;">
                    <div class="fullscreen">
                        <p>click for fullscreen</p>
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
{% endfor %}
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

{% endblock content %}