{% extends 'base.html' %}
{% load static %}
{% block title %} <title>About-Us</title> {% endblock title %}

{% block content %}


    <!-- Hero Section  -->
    <section class="hero_2">
        <div class="container">
            <div class="hero-content">
                <p class="custom-fs-20 custom-fw-600 mb-3">RSS Feeds</p>
                <h1 class="custom-fs-39 custom-fw-700">Stay Updated about World News</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item">Latest RSS Feeds</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <!-- News Section  -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-3 row">
                    <div class="col-md-6 mb-4">
                        <div class="card latest_news_card">
                            <img src="https://picsum.photos/300/250" class="card-img-top" alt="...">
                            <div class="card-body custom-text-light">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <i class="far fa-user me-2"></i>
                                        <p class="mb-0 custom-fs-16"> By Admin</p>
                                    </div>
                                    <div class="col-8 d-flex align-items-center">
                                        <i class="far fa-calendar-alt me-2"></i>
                                        <p class="mb-0 custom-fs-16"> 21 Dec, 2020</p>
                                    </div>
                                    <div class="col-12 my-3">
                                        <a href="news-view.html"
                                            class="custom-fs-22 custom-text-dark custom-fw-700">Lorem
                                            ipsum
                                            dolor sit amet.</a>
                                        <hr>
                                    </div>
                                    <div class="col-12">
                                        <a href="#" class="custom-text-light custom-fs-16">Read More >></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card latest_news_card">
                            <img src="https://picsum.photos/300/250" class="card-img-top" alt="...">
                            <div class="card-body custom-text-light">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <i class="far fa-user me-2"></i>
                                        <p class="mb-0 custom-fs-16"> By Admin</p>
                                    </div>
                                    <div class="col-8 d-flex align-items-center">
                                        <i class="far fa-calendar-alt me-2"></i>
                                        <p class="mb-0 custom-fs-16"> 21 Dec, 2020</p>
                                    </div>
                                    <div class="col-12 my-3">
                                        <a href="news-view.html"
                                            class="custom-fs-22 custom-text-dark custom-fw-700">Lorem
                                            ipsum
                                            dolor sit amet.</a>
                                        <hr>
                                    </div>
                                    <div class="col-12">
                                        <a href="#" class="custom-text-light custom-fs-16">Read More >></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card latest_news_card">
                            <img src="https://picsum.photos/300/250" class="card-img-top" alt="...">
                            <div class="card-body custom-text-light">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <i class="far fa-user me-2"></i>
                                        <p class="mb-0 custom-fs-16"> By Admin</p>
                                    </div>
                                    <div class="col-8 d-flex align-items-center">
                                        <i class="far fa-calendar-alt me-2"></i>
                                        <p class="mb-0 custom-fs-16"> 21 Dec, 2020</p>
                                    </div>
                                    <div class="col-12 my-3">
                                        <a href="news-view.html"
                                            class="custom-fs-22 custom-text-dark custom-fw-700">Lorem
                                            ipsum
                                            dolor sit amet.</a>
                                        <hr>
                                    </div>
                                    <div class="col-12">
                                        <a href="#" class="custom-text-light custom-fs-16">Read More >></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card latest_news_card">
                            <img src="https://picsum.photos/300/250" class="card-img-top" alt="...">
                            <div class="card-body custom-text-light">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <i class="far fa-user me-2"></i>
                                        <p class="mb-0 custom-fs-16"> By Admin</p>
                                    </div>
                                    <div class="col-8 d-flex align-items-center">
                                        <i class="far fa-calendar-alt me-2"></i>
                                        <p class="mb-0 custom-fs-16"> 21 Dec, 2020</p>
                                    </div>
                                    <div class="col-12 my-3">
                                        <a href="news-view.html"
                                            class="custom-fs-22 custom-text-dark custom-fw-700">Lorem
                                            ipsum
                                            dolor sit amet.</a>
                                        <hr>
                                    </div>
                                    <div class="col-12">
                                        <a href="#" class="custom-text-light custom-fs-16">Read More >></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card latest_news_card">
                            <img src="https://picsum.photos/300/250" class="card-img-top" alt="...">
                            <div class="card-body custom-text-light">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <i class="far fa-user me-2"></i>
                                        <p class="mb-0 custom-fs-16"> By Admin</p>
                                    </div>
                                    <div class="col-8 d-flex align-items-center">
                                        <i class="far fa-calendar-alt me-2"></i>
                                        <p class="mb-0 custom-fs-16"> 21 Dec, 2020</p>
                                    </div>
                                    <div class="col-12 my-3">
                                        <a href="news-view.html"
                                            class="custom-fs-22 custom-text-dark custom-fw-700">Lorem
                                            ipsum
                                            dolor sit amet.</a>
                                        <hr>
                                    </div>
                                    <div class="col-12">
                                        <a href="#" class="custom-text-light custom-fs-16">Read More >></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="card latest_news_card">
                            <img src="https://picsum.photos/300/250" class="card-img-top" alt="...">
                            <div class="card-body custom-text-light">
                                <div class="row">
                                    <div class="col-4 d-flex align-items-center">
                                        <i class="far fa-user me-2"></i>
                                        <p class="mb-0 custom-fs-16"> By Admin</p>
                                    </div>
                                    <div class="col-8 d-flex align-items-center">
                                        <i class="far fa-calendar-alt me-2"></i>
                                        <p class="mb-0 custom-fs-16"> 21 Dec, 2020</p>
                                    </div>
                                    <div class="col-12 my-3">
                                        <a href="news-view.html"
                                            class="custom-fs-22 custom-text-dark custom-fw-700">Lorem
                                            ipsum
                                            dolor sit amet.</a>
                                        <hr>
                                    </div>
                                    <div class="col-12">
                                        <a href="#" class="custom-text-light custom-fs-16">Read More >></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-5">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="custom-bg-light-gray px-4 py-5 my-3">
                        <h5 class="custom-fs-22 custom-text-dark custom-fw-700 mb-4">Categories</h5>
                        <ul class="ps-0">
                            <li class="mb-2"><a href="#" class="custom-text-black "><i
                                        class="fas fa-caret-right custom-text-primary"></i> All</a>
                                <hr>
                            </li>
                            <li class="mb-2"><a href="#" class="custom-text-black "><i
                                        class="fas fa-caret-right custom-text-primary"></i> Web Developer</a>
                                <hr>
                            </li>
                            <li class="mb-2"><a href="#" class="custom-text-black "><i
                                        class="fas fa-caret-right custom-text-primary"></i> Web Developer</a>
                                <hr>
                            </li>
                            <li class="mb-2"><a href="#" class="custom-text-black "><i
                                        class="fas fa-caret-right custom-text-primary"></i> Web Developer</a>

                            </li>
                        </ul>
                    </div>
                    <!-- NewsLetter  -->
                    <div class="custom-bg-black px-4 py-5 my-3">
                        <h5 class="custom-fs-14 custom-text-primary custom-fw-500 mb-4">SUBSCRIBE</h5>

                        <h2 class="custom-fs-22 custom-text-white custom-fw-600">SUBSCRIBE FOR NEWSLETTER</h2>

                        <form action="#">
                            <input type="email" name="email" placeholder="Email"
                                class="form-control rounded-0 border-0 p-3 mb-3">
                            <button class="btn custom-bg-primary btn-style-1 rounded-0">
                                search
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content%}