{% extends 'base.html' %}
{% load static %}
{% block title %} <title>About-Us</title> {% endblock title %}

{% block content %}

    <!-- Hero Section  -->
    <section class="hero_2">
        <div class="container">
            <div class="hero-content">
                <p class="custom-fs-20 custom-fw-600 mb-3">Services We Provide</p>
                <h1 class="custom-fs-39 custom-fw-700">Lorem ipsum dolor sit, amet consectetur adipisicing.</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item">Services</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <!-- Services section  -->
    <section class="our_services service_wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 row mb-3">
                {% for category in links %}
                    <div class="col-md-6 mb-3">
                        <div class="our_services_card p-4">
                            <div class="row">
                                <div class="col-12 mb-4">
                                    <div class="img-wrap">
                                        <img src="img/1597741240.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <h3 class="custom-text-black custom-fs-22 custom-fw-700">
                                        Mobile App &amp; Development
                                    </h3>
                                </div>
                                <div class="col-12 mb-4">
                                    <p class="custom-fs-16 custom-text-light custom-fw-500">

                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, eum.
                                    </p>
                                </div>
                                <div class="col-12">
                                    <a href="service-view.html" class="custom-fs-16 custom-text-light">
                                        VIEW SERVICES &gt;&gt;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                    {% comment %} <div class="col-md-6 mb-3">
                        <div class="our_services_card p-4">
                            <div class="row">
                                <div class="col-12 mb-4">
                                    <div class="img-wrap">
                                        <img src="img/1597741240.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <h3 class="custom-text-black custom-fs-22 custom-fw-700">
                                        Mobile App &amp; Development
                                    </h3>
                                </div>
                                <div class="col-12 mb-4">
                                    <p class="custom-fs-16 custom-text-light custom-fw-500">

                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, eum.
                                    </p>
                                </div>
                                <div class="col-12">
                                    <a href="service-view.html" class="custom-fs-16 custom-text-light">
                                        VIEW SERVICES &gt;&gt;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="our_services_card p-4">
                            <div class="row">
                                <div class="col-12 mb-4">
                                    <div class="img-wrap">
                                        <img src="img/1597741240.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <h3 class="custom-text-black custom-fs-22 custom-fw-700">
                                        Mobile App &amp; Development
                                    </h3>
                                </div>
                                <div class="col-12 mb-4">
                                    <p class="custom-fs-16 custom-text-light custom-fw-500">

                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, eum.
                                    </p>
                                </div>
                                <div class="col-12">
                                    <a href="service-view.html" class="custom-fs-16 custom-text-light">
                                        VIEW SERVICES &gt;&gt;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="our_services_card p-4">
                            <div class="row">
                                <div class="col-12 mb-4">
                                    <div class="img-wrap">
                                        <img src="img/1597741240.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <h3 class="custom-text-black custom-fs-22 custom-fw-700">
                                        Mobile App &amp; Development
                                    </h3>
                                </div>
                                <div class="col-12 mb-4">
                                    <p class="custom-fs-16 custom-text-light custom-fw-500">

                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, eum.
                                    </p>
                                </div>
                                <div class="col-12">
                                    <a href="service-view.html" class="custom-fs-16 custom-text-light">
                                        VIEW SERVICES &gt;&gt;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
                <div class="col-lg-4">
                    {% comment %} <div class="custom-bg-light-gray p-4 mb-3">
                        <form action="#" class="d-flex ">
                            <input type="search" name="search_services" placeholder="Search Services"
                                class="form-control rounded-0 border-0 p-3">
                            <button class="btn custom-bg-primary rounded-0 text-white px-4">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div> {% endcomment %}

                    <div class="custom-bg-light-gray px-4 py-5 my-3">
                        <h5 class="custom-fs-22 custom-text-dark custom-fw-700 mb-4">Categories</h5>
                        <ul class="ps-0">
                        {% for category in links %}
                            <li class="mb-2"><a href="{{category.get_url}}" class="custom-text-black ">
                                <i class="fas fa-caret-right custom-text-primary"></i>{{category.name}}</a>
                                <hr>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <!-- NewsLetter  -->
                    {% comment %} <div class="custom-bg-black px-4 py-5 my-3">
                        <h5 class="custom-fs-14 custom-text-primary custom-fw-500 mb-4">SUBSCRIBE</h5>

                        <h2 class="custom-fs-22 custom-text-white custom-fw-600">SUBSCRIBE FOR NEWSLETTER</h2>

                        <form action="#">
                            <input type="email" name="email" placeholder="Email"
                                class="form-control rounded-0 border-0 p-3 mb-3">
                            <button class="btn custom-bg-primary btn-style-1 rounded-0">
                                search
                            </button>
                        </form>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </section>

{% endblock content%}