{% extends 'base.html' %}
{% load static %}
{% block title %} <title>About-Us</title> {% endblock title %}

{% block content %}

    <!-- Hero Section  -->
    <section class="hero_2">
        <div class="container">
            <div class="hero-content">
                <p class="custom-fs-20 custom-fw-600 mb-3">Service Details</p>
                <h1 class="custom-fs-39 custom-fw-700">Mobile App & Development</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item">Service Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <!-- Main Section  -->
    <section class="blog-read">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-3 ">
                    <div class="mb-4">
                        <img src="https://picsum.photos/350/200" class="card-img-top" alt="...">
                    </div>
                    <p class="custom-fs-16 mb-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non deleniti quod rerum voluptatem
                        illum culpa aliquid nihil animi. Blanditiis ipsum laborum quae maxime dignissimos nihil corporis
                        consequatur nemo quas quasi ratione, natus est aperiam aliquid, debitis quia temporibus
                        voluptate! Numquam, sit. Praesentium labore minus adipisci veniam repellendus quos quam neque,
                        sit iusto debitis provident qui libero fugit illo blanditiis tenetur, commodi doloribus officia
                        hic? Saepe, ipsum exercitationem! Facilis consequatur debitis enim molestiae, omnis qui
                        nesciunt! Molestias, dolorem exercitationem fugiat temporibus natus rem corrupti, suscipit nulla
                        necessitatibus pariatur optio sed molestiae blanditiis obcaecati eos tenetur unde, beatae velit
                        animi ratione quidem ipsam. Vel molestiae perferendis, vero unde quaerat necessitatibus non a
                        commodi facere rerum! Praesentium ex exercitationem, molestias quam, non quasi eaque accusantium
                        placeat amet et sapiente quia officia rem iusto ratione est id alias assumenda ullam sint vero
                        similique corporis. Non a odit dicta, excepturi nemo aspernatur eligendi consequatur, recusandae
                        libero saepe numquam ab vitae unde, rerum laboriosam modi? Tenetur rem earum fuga veritatis
                        soluta veniam illo reprehenderit architecto aperiam. Voluptates enim nostrum, obcaecati aperiam
                        at cupiditate officiis voluptate nam error nobis consequuntur laudantium architecto iure facilis
                        quod repellat impedit omnis soluta explicabo eaque perferendis maiores magni. Non culpa eligendi
                        harum sequi quia tenetur reiciendis perspiciatis accusamus explicabo impedit omnis sed et
                        necessitatibus quos voluptatibus quod neque rerum quasi, nostrum autem? Dolore, voluptates.
                        Delectus tempora, hic culpa fugit suscipit recusandae facilis repudiandae et, eum porro
                        similique, magni explicabo nulla minus ratione vel? Nulla omnis nostrum velit harum ullam
                        placeat nobis eligendi a excepturi possimus modi eum itaque, eaque molestias esse corporis unde
                        officia veritatis earum dolorum ipsam? Corrupti eligendi, sapiente voluptatibus vero suscipit
                        labore deserunt officiis. Aspernatur atque repellendus recusandae harum aut magni nisi quis
                        facere iusto doloremque quaerat nobis similique sequi delectus ut eaque, dolorum sapiente!
                        Expedita corporis dolore ducimus, officiis aspernatur ut porro, dolor, saepe explicabo quod ipsa
                        fugit! Ad dolorum delectus quidem ab iusto, tempore voluptatibus reprehenderit architecto
                        eligendi veniam, at commodi eius consectetur, totam molestias saepe omnis fugit voluptates fuga
                        aut aspernatur. Nisi ipsam perspiciatis iste quo voluptas quasi ex, ad amet consequuntur cumque
                        praesentium, dolor eligendi architecto facere. Quae hic ullam, repellat excepturi maxime sequi
                        natus veritatis nesciunt aperiam. Fugit necessitatibus dolores error soluta, reiciendis
                        doloremque neque odit officia ullam, natus eum magnam totam hic quod suscipit minus ipsam
                        voluptatum itaque, ab ut nesciunt ipsa voluptates. Modi exercitationem itaque iusto magnam
                        dolore accusamus nemo rem culpa eum consequuntur rerum repudiandae ducimus, nesciunt expedita
                        tempora, incidunt atque? Nisi, architecto. Atque consectetur commodi asperiores expedita sunt.
                        Nisi tempore veniam labore quae, esse quidem repellat delectus culpa odit amet cumque! Expedita
                        id quasi aliquam nam earum quo placeat suscipit doloribus dignissimos unde ut repellat ratione
                        necessitatibus, pariatur incidunt blanditiis ab. Ipsum quaerat, eveniet possimus libero atque
                        autem delectus id, saepe, fuga impedit magni unde vel recusandae amet ullam culpa hic. Nobis
                        iste quasi vero deleniti quis magnam ex, aspernatur illo blanditiis vel harum? Eligendi eos
                        cumque officiis deserunt perferendis! Distinctio suscipit repellat adipisci molestias
                        dignissimos id doloribus ducimus?
                    </p>

                    <hr class="mb-4">

                    <ul class="ps-0 custom-fw-500">
                        <li class="mb-3">Software for any kind of business</li>
                        <li class="mb-3">Customer Management</li>
                        <li class="mb-3">HR Management</li>
                        <li class="mb-3">Easy Invoicing</li>
                        <li class="mb-3">Recurring Invoice</li>
                        <li class="mb-3">Bank Accounts</li>
                        <li class="mb-3">Great Support 24/7</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="custom-bg-light-gray p-4 mb-3">
                        <form action="#" class="d-flex ">
                            <input type="search" name="search_services" placeholder="Search Services"
                                class="form-control rounded-0 border-0 p-3">
                            <button class="btn custom-bg-primary rounded-0 text-white px-4">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="custom-bg-light-gray px-4 py-5 my-3">
                        <h5 class="custom-fs-22 custom-text-dark custom-fw-700 mb-4">Categories</h5>
                        <ul class="ps-0">
                            <li class="mb-2"><a href="#" class="custom-text-black "><i
                                        class="fas fa-caret-right custom-text-primary"></i> All</a>
                                <hr>
                            </li>
                            <li class="mb-2"><a href="#" class="custom-text-black "><i
                                        class="fas fa-caret-right custom-text-primary"></i> Web Developer</a>
                                <hr>
                            </li>
                            <li class="mb-2"><a href="#" class="custom-text-black "><i
                                        class="fas fa-caret-right custom-text-primary"></i> Web Developer</a>
                                <hr>
                            </li>
                            <li class="mb-2"><a href="#" class="custom-text-black "><i
                                        class="fas fa-caret-right custom-text-primary"></i> Web Developer</a>

                            </li>
                            <li class="mb-2"><a href="#" class="custom-text-black "><i
                                        class="fas fa-caret-right custom-text-primary"></i> Web Developer</a>
                                <hr>
                            </li>
                            <li class="mb-2"><a href="#" class="custom-text-black "><i
                                        class="fas fa-caret-right custom-text-primary"></i> Web Developer</a>
                                <hr>
                            </li>
                            <li class="mb-2"><a href="#" class="custom-text-black "><i
                                        class="fas fa-caret-right custom-text-primary"></i> Web Developer</a>

                            </li>
                        </ul>
                    </div>
                    <!-- NewsLetter  -->
                    <div class="custom-bg-black px-4 py-5 my-3">
                        <h5 class="custom-fs-14 custom-text-primary custom-fw-500 mb-4">SUBSCRIBE</h5>

                        <h2 class="custom-fs-22 custom-text-white custom-fw-600">SUBSCRIBE FOR NEWSLETTER</h2>

                        <form action="#">
                            <input type="email" name="email" placeholder="Email"
                                class="form-control rounded-0 border-0 p-3 mb-3">
                            <button class="btn custom-bg-primary btn-style-1 rounded-0">
                                search
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content%}