{% extends 'base.html' %}
{% load static %}
{% block title %} <title>About-Us</title> {% endblock title %}

{% block content %}


    <!-- Hero Section  -->
    <section class="hero_2">
        <div class="container">
            <div class="hero-content">
                <p class="custom-fs-20 custom-fw-600 mb-3">Terms & Conditions</p>
                <h1 class="custom-fs-39 custom-fw-700">Please follow this Terms & Conditions</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item">Terms & Conditions</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <!-- About us Section  -->

    <section class="custom-fs-18 custom-fw-500 custom-text-light">
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis non libero totam quia itaque iste
                facilis exercitationem doloremque voluptates eius?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis non libero totam quia itaque iste
                facilis exercitationem doloremque voluptates eius?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis non libero totam quia itaque iste
                facilis exercitationem doloremque voluptates eius?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, nam alias? Vero deleniti beatae eveniet,
                pariatur voluptas, fuga numquam mollitia fugiat, earum maxime alias ab totam amet ratione? Officiis
                dolor libero nulla dolorem quo doloribus optio omnis? Itaque vitae enim unde nulla autem dolore
                repudiandae! Consectetur esse corporis ea labore!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, eius tenetur accusamus iusto laborum
                aspernatur excepturi officiis laudantium est. Cumque nobis nulla itaque debitis quasi illum reiciendis
                beatae deleniti ad. Nobis voluptate voluptates tempora vitae dolores dolorem mollitia harum quas beatae
                adipisci enim, numquam, asperiores eveniet rem autem laborum? Fugiat eos illum sed et deleniti labore
                quia tempora, iste, iure reprehenderit facilis. Ducimus repellat tempore deserunt officiis consequatur
                repellendus ut modi, incidunt dignissimos quo ipsam illo exercitationem dicta debitis molestiae
                recusandae, vero explicabo inventore totam laudantium vel? Enim laudantium ex excepturi esse impedit
                alias dolore culpa, delectus dolor aut, eaque accusamus minima obcaecati inventore cum odit sit
                exercitationem at distinctio dicta facere totam itaque. Omnis corrupti, nulla, qui nisi tempore voluptas
                libero iusto consectetur eaque et numquam eos repudiandae dolorum totam atque quibusdam tempora, labore
                sint excepturi repellendus at perferendis adipisci vero quos! Possimus, reprehenderit saepe eligendi,
                blanditiis nulla, eum quisquam ipsa commodi rerum facilis nostrum nam est enim fugiat mollitia cumque
                molestiae nemo minima voluptates omnis corrupti soluta ea. Voluptatem totam accusamus a laboriosam,
                explicabo laborum fugiat porro, commodi fugit eius amet molestiae adipisci soluta odit ad repellendus,
                asperiores ea beatae vitae. Odio delectus at, debitis numquam illo quia?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis non libero totam quia itaque iste
                facilis exercitationem doloremque voluptates eius?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis non libero totam quia itaque iste
                facilis exercitationem doloremque voluptates eius?</p>
        </div>
    </section>

{% endblock content%}